# Frontend
frontend-project/node_modules/
frontend-project/dist/
frontend-project/.env

# Backend
backend-project/node_modules/
backend-project/.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Database
database/*.sql


# IDE
.vscode/
.idea/
